<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container">
  <div class="row d-flex">
    <div class="col-md-12 justify-content-center">
      <p class="text-center"><img src="/assets/img1.jpeg" alt="" width="200"></p>
    </div>
    <div class="col-md-12 justify-content-center">
      <form action="">
        Weight: <input type="text" name="w" id="" [(ngModel)]="weight" [ngModelOptions]="{standalone:true}" class="form-control"><br>
        Height: <input type="text" name="h" id="" [(ngModel)]="height" [ngModelOptions]="{standalone:true}" class="form-control"><br>
        <button class="btn btn-primary" (click)="calculateBMI()">Calculate BMI Index</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p *ngIf="bmiResult">{{ bmiResult }}</p>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">BMI</th>
            <th scope="col">Weight status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of bmiData">
            <td>
              {{ item.bmi}}
            </td>
            <td>
              {{ item.category}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
